*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    height: 300px;
    width: 800px;
    border-radius: 30%;
    border: 10px solid burlywood;
    
}
.m-80-a{
    margin: 80px auto;
}
.mt-50{
    margin-top: 110px;
}
.mr-150{
    margin-right: 150px;
}
.ml-150{
    margin-left: 150px;
}